html{
  background-color: rgb(147, 151, 255);
}
.model{
  border: 5px solid;
  width: 200px;
  height: 105px;
  text-align: center;
  margin-left: 1675px;
}
.header{
  border: 5px solid;
  border-radius: 25px;
}
.teamLogo{
  float: left;
  margin-left: 15px;
}
